<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- System.out stream -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %.-1level %logger{0} - %msg%n</pattern>
		</layout>
	</appender>
 
 	<!-- This is our loggers, print out everything -->
 	<logger name="dev.ken" level="ALL" />
 
 	<!-- These are other loggers, only capture warns and errors -->
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>